/***************************************************************************** Red social *******************************************************************/
.imagen_red{
	width: 0px;
	height: 00px;
}
.margenredes{
	margin-bottom: 10px;
	margin-top: 20px;
	margin-left: -60px;
}
.redestitulo{
	margin-right: -50px;
	margin-top: 10px;
}
.botones{
	margin-left: -40px;
}

.buscarimagen{
	margin-top: 40px;
}
.agregarred{
	margin-top: 0px;
}
.funcionesredes{
	color: black;
	margin-left: 20px;
	margin-top: 30px;
	font-size: 30px;
}
.linkredes{
	font-size: 18px;
	margin-left: 20px;
	margin-top: 35px;
}
.iconoredes{
	margin-left: 0px;
	width: 100px;
	height: 100px;
}

#imagencolumna{
	width: 1000px;
}
/***************************************************************************** Clientes *******************************************************************/

.imagen_cliente{
	margin-left: 140px;
	width: 100px;
	height: 100px;
}
.funcionesclientes{
	color: black;
	margin-left: 100px;
	margin-top: 30px;
	font-size: 30px;
}
.nombrecliente{
	font-size: 18px;
	margin-left: 20px;
	margin-top: 35px;
}
/***************************************************************************** Clientes ****************************************************************/
.eliminacliente{
	margin-top: 80px;
	margin-left: 350px;
}
.eliminarclientesbtn{
	font-size: 40px;
}
.a{
	margin-top: 40px;
	margin-bottom: 60px;
}
/***************************************************************************** Consulta Clientes ****************************************************************/
.consultaclienteimagen{
	margin-bottom: 40px;
	width: 170px;
	height: 170px;
}

.margeninputs{
	margin-bottom: 20px;
}

.margencc{
	padding-bottom: 500px;
	
}
/***************************************************************************** Datos ****************************************************************/
.q{
	padding-top:10px;
}
.e{
	margin-top: -23px;

}
.margenbtndatos
{
	margin-top: 30px;
	margin-bottom: 60px;
}
.funcionesdatos{
		margin-bottom: 20px;
	color: black;
	margin-top: 30px;
	font-size: 30px;
}

/***************************************************************************** Preguntas frecuentes ****************************************************************/
.margenpreguntas{

	margin-top: 10px;
}
.margentitulopreguntas{
	margin-left: 10px;
	margin-top:17px;
	margin-right: -20px;
}
.funcionespreguntas{
	margin-bottom: 20px;
	color: black;
	margin-left: 200px;
	margin-top: 30px;
	font-size: 30px;
}
.preguntas{
	font-size: 18px;
	margin-left: 20px;
	margin-top: 28px;
}

/************************************************* imagenes index ********************************************************************************/
.imagen_index{
	width: 3000px;
	height: 250px;
}
.botones_index{
	margin-top: 60px;
}
.imagen_index1{
	width: 500px;
	height: 200px;
}
.a{
	margin-top: 60px;
}