/*DIEGO*/
/*DIEGO*/
/*Catalogo ='DDD*/
/*
css de los elementos de "articulos.php"
*/
.divider-diego{
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #CBCBCB;
}
#sprincipal{
  opacity: 0.2;
}
.smenos{
  font-size: 20px;
}
.stseparator{
  margin-left: 10px;
  display: inline-block;
}
.lblfiltro{
  cursor: pointer;
  font-size: 20px;
}
.lfiltro{
  list-style-type: none;
}
.lfiltro:hover{
  cursor: pointer;
  background-color: #CFCFCF;
}
@media (max-width: 768px) {
  #divfiltros{
    display: none;
  }
  #divfiltrosdevice{
    display: block;
  }
  #divmarcas{
    display: none;
  }
}
@media (min-width: 768px) {
  #divfiltros{
    display: block;
  }
  #divfiltrosdevice{
    display: none;
  }
  #divmarcas{
    display: block;
  }
}
#sfiltrodevice{
  margin-left: 10px;
}
.colordiv.divarticulostop:hover,
.colordiv.divarticulos:hover{
  border-color: #FFA07D;
  background-color: #E59476;
  outline: 0;
  -webkit-box-shadow: inset 0px 50px 50px rgba(0,0,0,.075), 0px 0px 50px rgba(190, 190, 190, 10);
          box-shadow: inset 0 1px 50px rgba(0,0,0,.075), 0 0 50px rgba(190, 190, 190, .0.5);
}
@media (max-width: 992px) {
  .divarticulos{
    margin-top: 0px;
  }
}
@media (min-width: 992px) {
	
}

.enlacesinf:hover{
  text-decoration: none;
  color: white;
}
.enlacesinf{
  color: white;
}
.breadcrumb{
  margin-top: -10px;
}
#slider_info_art{
  margin-top: 0px;
  height: 300px;
}
#tproducto{
  margin-top: -5px;
  font-size: 30px;
}
.tin_ti{
  font-size: 20px;
  display: block;
  text-align: left;
}

#ci_infoart > li{
  background-color: #817E7E;
}
#ci_infoart > li.active{
  background-color: #049DBF;
}
.carousel-caption > h3{
  color: black;
  font-size: 27px;
}

@media (min-width: 768px) {
  .nuevo_padding{
  	padding-right: 10px;
  	padding-left: 0px;
  }
}

.ptitulo{
  font-size: 20px;
  text-align: center;
}
#rpaddin, #slider_info_art, .paddindiego{
  padding-right: 15px;
  padding-left: 30px;
}
.divpro_in{
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.ft.infle{
  width: 30px;
}
.ft.infle:hover{
  background-color: #880200;
  filter: none;
  opacity: 1;
}
.textcatalogo{
  font-size: 22px;
  text-align: center;
}
#divmarcas, #divfiltros{
  border-radius: 5px;
}
#divmarcas{
  margin-top: 20px;
}
.ali_cbx{
  padding-left: 10px;
}
.precio, .tex_nom_p{
  font-size: 16px;
}
#divtop{
 padding-left: 5px;
}
.divarticulos, #divmarcas, #divfiltros, #divtop{
  opacity: 0;
}
#divmarcas, #divfiltros, #divtop{
  -webkit-transform: translateY(80px);
}
/*.item{
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}*/

/*Catalogo ='DDD*/

/*Compras ='DDD*/

.texnormal{
	font-size: 22px;
}
.texnormal2{
	font-size: 20px;
}
.texnormal3{
	padding-top: 0px;
	font-size: 19px;
	opacity: 0.7;
}
.divnomb, .divcant, .divsub{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 15px;
}
.form-control{
	font-size: 16px;
}
.divinopro:hover{
	background-color: #A5A6A3;;
	-webkit-transition: 0.3s;
}
.divbor{
	text-align: right;
	padding-right: 0px;
	float: right;
	font-size: 24px;
	visibility: visible;
	height: 0px;
}
.divbor:hover{
	cursor: pointer;
}
.subdivcant{
	padding-left: 5px;
	padding-right: 0px;
}
.alinear{
	padding-left: 15px;
	padding-right: 15px;
}
@media (max-width: 992px) {
	.alinear{
		padding-left: 15px;
		padding-right: 15px;
	}
  .divindart .precio h4{
    margin-top: 0px;
  }
}
@media (max-width: 700px) {
	.texnormal{
		font-size: 18px;
	}
	.divnomb, .divcant, .divsub{
		padding-top: 10px;
	}
	.divsub{
		text-align: left;
	}
}
@media (min-width: 700px) {
	.divsub{
		text-align: right;
	}
}
/**/
@media (max-width: 992px) {
	.texnormal2{
		font-size: 16px;
	}
	.texnormal3{
		font-size: 15px;
	}
}
@media (min-width: 992px) {
	.texnormal2{
		font-size: 20px;
	}
	.texnormal3{
		font-size: 19px;
	}
}
/**/
.phand{
	margin-top: 5px;
	cursor: pointer;
}
.e_orden{
	padding-left: 20px;
}
.divider-vdiego{
    background-color: #CC0000;
    width: 2px;
}
.divider-vdiego, label > input{
	display: inline-block;
}
.no_padding{
	padding-left: 0px;
	padding-right: 0px;
}
.padding_right{
	padding-left: 0px;
	padding-right: 15px;
}
.padding_right_nojs{
	padding-left: 0px;
	padding-right: 15px;
}
.padding_left_nojs{
	padding-left: 15px;
	padding-right: 0px;
}
.padding{
	padding-left: 15px;
	padding-right: 15px;
}
.txtaling_r{
	text-align: right;
}
#tc_direccion{
	margin-top: -10px;
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: 0px;
}
#divdepartamento{
	margin-right: -15px;
	margin-top: 10px;
}
.row-normal{
	margin-left: 0px;
	margin-right: 0px;
}
.margin{
	margin-left: 15px;
	margin-right: 15px;
}
#divlugar{
	padding-bottom: 10px;
}
#divMapDDD, #divMapDDD2{
	height: 500px;/*Es necesario por que debe establecerce para que se vea ='DDD*/
}
#divMapDDDContent{
	padding-left: 0px;
	padding-right: 15px;
}
#divMapDDDContentC, #divMapDDDContentC2{
	padding: 5px;
}
.nav-justified > li{
  background-color: #880200;
}
.nav-justified li a{
  color: white;
  text-decoration: none;
}
.nav-tabs.nav-justified li a:hover{
  background-color: #880200;
  opacity: 0.9;
  border-color: #880200;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus{
  /*background-color: white;*/
  opacity: 1;
}
#btnreal_ped{
  margin-top: 10px;
}
.divinopro{
  opacity: 0;
  -webkit-transform: translate(-100px);
}
.divinopro_s{
  opacity: 0;
  -webkit-transform: translate(-100px);
}
#reap .row .colordiv .row-normal, #reap .row .colordiv{
  opacity: 0;
  -webkit-transform: translateY(50px);
}
#ing_ho{
  color: black;
}

/*Compras ='DDD*/

/*Comentarios ='DDD*/



/*Comentarios ='DDD*/

/*Footer ='DDD*/
footer{
  font-size: 15px;
  background-color: #BE5C2B;
  color: white;
}
.footer{
  list-style: none;
  /*padding-right: 30px;*/
}
.footerlititulo{
  font-size: 25px;
}
.contactos{
  width: 50px;
  height: 50px;
  font-size: 20px;
}
.imgcircular {
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: none;
}
.divider-diego{
  height: 1px;
  margin: 9px 0;
  background-color: #CBCBCB;
}
.twi{
  background-color: #00aced;
}
.goo{
  background-color: #d62d20;
}
.fac{
  background-color: #3B5998;
  color: white;
}
.twi:hover{
  opacity:0.7;  
  filter:alpha(opacity=70);
  -webkit-transition: 0.2s;
}
.goo:hover{
  opacity:0.7;
  filter:alpha(opacity=70);
  -webkit-transition: 0.2s;
}
.fac:hover{
  opacity:0.7;
  filter:alpha(opacity=70);
  -webkit-transition: 0.2s;
}

/*Footer ='DDD*/


/*Agregar productoDD*/
.text-center{
  text-align: center;
}
.vertical-middle{
  vertical-align: middle !important;
}
.resize{
  resize: none;
}
#descrip{
  height: 120px;
}
#pro_img{
  height: 230px;
}
.margin_right{
  margin-left: 0px;
  margin-right: 20px;
}
.fbtn{
  width: 150px;
}

/*Aplicar a todos ='DD*/
.img-catalogo{
  height: 200px !important;
}
.nobtn-cerrar_s{
  border: none !important;
  padding: 0px;
}
/*login*/
.btnisa{
  background-color: #880200;
  color: white;
}
.btnisa:hover{
  background-color: #880200;
  filter: alpha(opacity=100);
  color: white;
  -webkit-transition: 0.2s;
  opacity: 0.5;
}
.tisa:hover{
  background-color: #880200;
  /*filter: alpha(opacity=100);*/
  color: white;
  -webkit-transition: 0.5s;
  opacity: 0.8;
  cursor: pointer;
}
.colordiv{
  background-color: #BB7358;
}
.back-body{
  background: url("../img/fondo-sencillo-beige_1091-2.jpg");
  background-size: 100%, 100%;
  color: white !important;
}
.size{
  width: 100%;
}
.icono_tamano{
  font-size: 20px;
  cursor: pointer;
}
.padding_right_ico{
  margin-right: 50px;
}
.nobtn{
  background-color: white !important;
  border: none !important;
}
.nobtn-trans{
  background-color: transparent !important;
  border: none !important;
}
.padding_input-group{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.no_padding_input-group{
  padding: 0px;
}
.error_data{
  border-color: red !important;
  border: 1px;
  border-style: solid;
}
.tooltip .tooltip-inner{
  background-color: skyblue;
  color: black;
}
.margin_top_navbar{
  margin-top: 80px;
}
.enlaces_blancos{
  color: #E3E3E3 !important;
}
.enlaces_blancos:hover{
  color: #FFFFFF !important;
}
.treintapx{
  font-size: 30px;
}
.black{
  color: black !important;
}
.black_ground{
  background-color: #7A7A7A !important;
}
.nav>li>a:hover,.nav>li>a:active,.nav>li>a:focus{background-color: #973306;}
/*DIEGO*/

css de los elementos de "articulos.php"
*/
/*TAMAÑO INDEX IMAGENES GERARDO*/
.imagen_index1{
  width: 300px;
  height: 120px;
}
.divider-diego{
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #CBCBCB;
}
#sprincipal{
  opacity: 0.2;
}
.smenos{
  font-size: 20px;
}
.stseparator{
  margin-left: 10px;
  display: inline-block;
}
.lblfiltro{
  cursor: pointer;
  font-size: 20px;
}
.lfiltro{
  list-style-type: none;
}
.lfiltro:hover{
  cursor: pointer;
  background-color: #CFCFCF;
}
@media (max-width: 768px) {
  #divfiltros{
    display: none;
  }
  #divfiltrosdevice{
    display: block;
  }
  #divmarcas{
    display: none;
  }
}
@media (min-width: 768px) {
  #divfiltros{
    display: block;
  }
  #divfiltrosdevice{
    display: none;
  }
  #divmarcas{
    display: block;
  }
}
#sfiltrodevice{
  margin-left: 10px;
}
.colordiv.divarticulostop:hover,
.colordiv.divarticulos:hover{
  border-color: #007A59;
  background-color: #A5A6A3;
  outline: 0;
  -webkit-box-shadow: inset 0px 50px 50px rgba(0,0,0,.075), 0px 0px 50px rgba(190, 190, 190, 10);
          box-shadow: inset 0 1px 50px rgba(0,0,0,.075), 0 0 50px rgba(190, 190, 190, .0.5);
}
@media (max-width: 992px) {
  .divarticulos{
    margin-top: 0px;
  }
}
@media (min-width: 992px) {
	
}

.enlacesinf:hover{
  text-decoration: none;
  color: white;
}
.enlacesinf{
  color: white;
}
.breadcrumb{
  margin-top: -10px;
}
#slider_info_art{
  margin-top: 0px;
  height: 300px;
}
#tproducto{
  margin-top: -5px;
  font-size: 30px;
}
.tin_ti{
  font-size: 20px;
  display: block;
  text-align: left;
}

#ci_infoart > li{
  background-color: #817E7E;
}
#ci_infoart > li.active{
  background-color: #049DBF;
}
.carousel-caption > h3{
  color: black;
  font-size: 27px;
}

@media (min-width: 768px) {
  .nuevo_padding{
  	padding-right: 10px;
  	padding-left: 0px;
  }
}

.ptitulo{
  font-size: 20px;
  text-align: center;
}
#rpaddin, #slider_info_art, .paddindiego{
  padding-right: 15px;
  padding-left: 30px;
}
.divpro_in{
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.ft.infle{
  width: 30px;
}
.ft.infle:hover{
  background-color: #880200;
  filter: none;
  opacity: 1;
}
.textcatalogo{
  font-size: 22px;
  text-align: center;
}
#divmarcas/*, #divarticulos*/{
  border-radius: 5px;
}
#divmarcas{
  margin-top: 20px;
}
.ali_cbx{
  padding-left: 10px;
}
.precio, .tex_nom_p{
  font-size: 16px;
}
.glyphicon-star,.glyphicon-star-empty{
  font-size: 20px;
}
#divtop{
 padding-left: 5px;
}
.divarticulos, #divmarcas, #divfiltros, #divtop{
  opacity: 0;
}
#divmarcas, #divfiltros, #divtop{
  -webkit-transform: translateY(80px);
}
/*.item{
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}*/

/*Catalogo ='DDD*/

/*Compras ='DDD*/

.texnormal{
	font-size: 22px;
}
.texnormal2{
	font-size: 20px;
}
.texnormal3{
	padding-top: 0px;
	font-size: 19px;
	opacity: 0.7;
}
.divnomb, .divcant, .divsub{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 25px;
}
.form-control{
	font-size: 16px;
}
.divinopro:hover{
	background-color: #A5A6A3;;
	-webkit-transition: 0.3s;
}
.divbor{
	text-align: right;
	padding-right: 0px;
	float: right;
	font-size: 24px;
	visibility: visible;
	height: 0px;
}
.divbor:hover{
	cursor: pointer;
}
.subdivcant{
	padding-left: 5px;
	padding-right: 0px;
}
.alinear{
	padding-left: 15px;
	padding-right: 15px;
}
@media (max-width: 992px) {
	.alinear{
		padding-left: 15px;
		padding-right: 15px;
	}
  .divindart .precio h4{
    margin-top: 0px;
  }
}
@media (max-width: 700px) {
	.texnormal{
		font-size: 18px;
	}
	.divnomb, .divcant, .divsub{
		padding-top: 10px;
	}
	.divsub{
		text-align: left;
	}
}
@media (min-width: 700px) {
	.divsub{
		text-align: right;
	}
}
/**/
@media (max-width: 992px) {
	.texnormal2{
		font-size: 16px;
	}
	.texnormal3{
		font-size: 15px;
	}
}
@media (min-width: 992px) {
	.texnormal2{
		font-size: 20px;
	}
	.texnormal3{
		font-size: 19px;
	}
}
/**/
.phand{
	margin-top: 5px;
	cursor: pointer;
}
.e_orden{
	padding-left: 20px;
}
.divider-vdiego{
    background-color: #CC0000;
    width: 2px;
}
.divider-vdiego, label > input{
	display: inline-block;
}
.no_padding{
	padding-left: 0px;
	padding-right: 0px;
}
.padding_right{
	padding-left: 0px;
	padding-right: 15px;
}
.padding_right_nojs{
	padding-left: 0px;
	padding-right: 15px;
}
.padding_left_nojs{
	padding-left: 15px;
	padding-right: 0px;
}
.padding{
	padding-left: 15px;
	padding-right: 15px;
}
.txtaling_r{
	text-align: right;
}
#tc_direccion{
	margin-top: -10px;
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: 0px;
}
#divdepartamento{
	margin-right: -15px;
	margin-top: 10px;
}
.row-normal{
	margin-left: 0px;
	margin-right: 0px;
}
.margin{
	margin-left: 15px;
	margin-right: 15px;
}
#divlugar{
	padding-bottom: 10px;
}
#divMapDDD, #divMapDDD2{
	height: 500px;/*Es necesario por que debe establecerce para que se vea ='DDD*/
}
#divMapDDDContent{
	padding-left: 0px;
	padding-right: 15px;
}
#divMapDDDContentC, #divMapDDDContentC2{
	padding: 5px;
}
.nav-justified > li{
  background-color: #880200;
}
.nav-justified li a{
  color: white;
  text-decoration: none;
}
.nav-tabs.nav-justified li a:hover{
  background-color: #880200;
  opacity: 0.9;
  border-color: #880200;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus{
  /*background-color: white;*/
  opacity: 1;
}
#btnreal_ped{
  margin-top: 10px;
}
.divinopro{
  opacity: 0;
  -webkit-transform: translate(-100px);
}
.divinopro_s{
  opacity: 0;
  -webkit-transform: translate(-100px);
}
#reap .row .colordiv .row-normal, #reap .row .colordiv{
  opacity: 0;
  -webkit-transform: translateY(50px);
}
#ing_ho{
  color: black;
}

/*Compras ='DDD*/

/*Comentarios ='DDD*/



/*Comentarios ='DDD*/


/*Agregar productoDD*/
.text-center{
  text-align: center;
}
.vertical-middle{
  vertical-align: middle !important;
}
.resize{
  resize: none;
}
#descrip{
  height: 120px;
}
#pro_img{
  height: 230px;
}
.margin_right{
  margin-left: 0px;
  margin-right: 20px;
}
.fbtn{
  width: 150px;
}

/*Aplicar a todos ='DD*/
.nobtn-cerrar_s{
  border: none !important;
  padding: 0px;
}
/*login*/
.btnisa{
  background-color: #880200;
  color: white;
}
.btnisa:hover{
  background-color: #880200;
  filter: alpha(opacity=100);
  color: white;
  -webkit-transition: 0.2s;
  opacity: 0.5;
}
.tisa:hover{
  background-color: #880200;
  /*filter: alpha(opacity=100);*/
  color: white;
  -webkit-transition: 0.5s;
  opacity: 0.8;
  cursor: pointer;
}
.colordiv{
  background-color: #424242;
}
body{
  background-color: #262626;
  /*color: white;*/
}
.size{
  width: 100%;
}
.icono_tamano{
  font-size: 20px;
  cursor: pointer;
}
.padding_right_ico{
  margin-right: 50px;
}
.nobtn{
  background-color: white !important;
  border: none !important;
}
.nobtn-trans{
  background-color: transparent !important;
  border: none !important;
}
.padding_input-group{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.no_padding_input-group{
  padding: 0px;
}
.error_data{
  border-color: red !important;
  border: 1px;
  border-style: solid;
}
.tooltip .tooltip-inner{
  background-color: skyblue;
  color: black;
}
.margin_top_navbar{
  margin-top: 80px;
}
/*******************************************************         Gerardo                ********************************************************************************/

/******************************************************         Red social               *******************************************************************/
.imagen_red{
  width: 100px;
  height: 100px;
}
.margenredes{
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: -60px;
}
.redestitulo{
 
  margin-top: 10px;
}
.botones{
  margin-left: -40px;
}


.agregarred{
  margin-top: 0px;
}
.funcionesredes{
  color: black;
  margin-left: -10px;
  margin-top: 30px;
  font-size: 30px;
}
.linkredes{
  font-size: 18px;
  margin-left: 20px;
  margin-top: 35px;
}
.iconoredes{
  margin-left: 0px;
  width: 100px;
  height: 100px;
}

#imagencolumna{
  width: 1000px;
}

@media(max-width:1170px) {
    .colorredes{
      color: black;
        
    }
@media(min-width:768px) {
    .margenred{
      margin-left: 30px;
        
    }
  @media(max-width:970px) {
    .margenimagenR{
      margin-top: 30px;
        
    }

/***************************************************************************** Clientes *******************************************************************/

.imagen_cliente{
  margin-left: 140px;
  width: 100px;
  height: 100px;
}
.funcionesclientes{
  color: black;
  margin-left: 100px;
  margin-top: 30px;
  font-size: 30px;
}
.nombrecliente{
  font-size: 18px;
  margin-left: 20px;
  margin-top: 35px;
}
/***************************************************************************** Clientes ****************************************************************/
.eliminacliente{
  margin-top: 80px;
  margin-left: 350px;
}
.eliminarclientesbtn{
  font-size: 40px;
}
.a{
  margin-top: 40px;
  margin-bottom: 60px;
}
/***************************************************************************** Consulta Clientes ****************************************************************/
.consultaclienteimagen{
  margin-bottom: 40px;
  width: 170px;
  height: 170px;
}

.margeninputs{
  margin-bottom: 20px;
}

.margencc{
  padding-bottom: 500px;
  
}
/***************************************************************************** Datos ****************************************************************/
.q{
  padding-top:10px;
}
.e{
  margin-top: -23px;

}
.margenbtndatos
{
  margin-top: 30px;
  margin-bottom: 60px;
}
.funcionesdatos{
    margin-bottom: 20px;
  color: black;
  margin-top: 30px;
  font-size: 30px;
}

/***************************************************************************** Preguntas frecuentes ****************************************************************/
.margenpreguntas{

  margin-top: 10px;
}
.margentitulopreguntas{
  margin-left: 10px;
  margin-top:17px;
  margin-right: -20px;
}
.funcionespreguntas{
  margin-bottom: 20px;
  color: black;
  margin-left: 200px;
  margin-top: 30px;
  font-size: 30px;
}
.preguntas{
  font-size: 18px;
  margin-left: 20px;
  margin-top: 28px;
}

/************************************************* imagenes index ********************************************************************************/
.imagen_index{
  width: 3000px;
  height: 250px;
}
.botones_index{
  margin-top: 60px;
}

.a{
  margin-top: 60px;
}

.funcionesimagenesindex{
  color: black;
  font-size:25px;
  margin-top: -100px;
}


/************************************************* GERARDO FRONT-END ******************************/ 
html,
body {
    width: 100%;
    height: 100%;
    background: white;  
     font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;                                                               ;
}

/*gerardo*/
/******************************************************************************** Index ******************************************************************/ 

/******************************************************************************** Slider ******************************************************************/ 
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner > .item {
  margin-left:0;
  margin-top:0;
  margin-bottom:0;
  padding-left: 0;
  width: 100%;
  height: auto;
}
/*uso 100% de la pantalla*/
.carousel-inner {
  width: 100%;
  height: 100%;
}

/*tamaño 100% de imagenes en carousel*/
.Gtamaño {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.i{
  background-image: url('img/logos/isa.png');
}
/************************************************************************ fin de slider ******************************************************************/ 
/************************************************************************ Barra de navegacion  ******************************************************************/ 
#navigation {
  background: transparent; 
  z-index: 9999;
  width:100%;
}
#menu{
  position:fixed;
  top:0;
  left:0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0;
  background: transparent; 
}
/* raya de temas */
.divider-header {
  display: block;
  width: 40px;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.color-dark .divider-header {
  background: white;
}
/*nabvar*/
#menu li {
  display:inline-block;
  margin: 10px;
  color: #000;
  background:#fff;
  background: rgba(255,255,255, 0.5);
  -webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
  background:#666;
  background: rgba(0,0,0, 0.5);
  color: #fff;
}
#menu li a{
  text-decoration:none;
  color: #000;
}
#menu li.active a:hover{
  color: #000;
}
#menu li:hover{
  background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
  padding: 9px 18px;
  display:block;
}
#menu li.active a{
  color: #fff;
}


/* margenes */
.marginbot-0{
  margin-bottom:0 !important;
}
.marginbot-10{
  margin-bottom:10px !important;
}
.marginbot-20{
  margin-bottom:20px !important;
}
.marginbot-30{
  argin-bottom:30px !important;
}
{
  margin-bottom:40px !important;
}
.marginbot-50{

  margin-bottom:70px !important;
}
.marginbotN-50{

  margin-bottom: 0px !important;
}
.marginbotNT
{
  margin-top: -40px;
}
.marginPMV{
  margin-top: -50px;
}
.Imargentemas{
  padding-top: 40px;
}

/************************************************************************** Fin barra de navegacion ******************************************************************/ 
/* ===========================
seccion general
============================ */

.home-section {
  padding-top: 150px;
  padding-bottom: 110px;
  display:block;
  position:relative;
  z-index:120;
}
/*letra de temas*/
.section-heading h2 {
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* nuestras historia*/
#Iquines{
  text-align: justify;
  font-size: 15px;
}
.intro {
  width:100%;
  position:relative;
  padding:0;
}
.intro-inner {
  width:100%;
  position:relative;
  padding:120px 0 20px;
}
.brand-heading {
    font-size: 40px;
}
.intro-text {
    font-size: 18px;
}
/*********************************************************************fin nuestra histoia ****************************************************************/

/********************************************************************* inicio nuestros productos *******************************************************************************************************/

.ImargenNP{
  margin-top: 0px;
}
#Gtitulo{
  padding-bottom: -5px;
    padding-top: 70px;
    color: white;
    text-align: center;
    font-size: 40px;
}
/*tamaño de cajas*/
.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 950px;
}

/*color letras y caption*/
.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(40,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
/*posicion de letras de cajas*/
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

/*tipo de letra de la caja*/
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

/*titulos*/
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;/*negrita*/
}

.portfolio-box .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

/*a:link*/
/*{*/
/*  color: white;*/
/*  text-decoration: none;*/
/*}*/

/*a{*/
/*  color: white;*/
/*  text-decoration: none;*/
/*}*/
#links{

  text-decoration: none;
  color: black;
}
#owl-works {
}
.item {
    margin: 10px;
}
.item img {
    display: block;
    width: 100%;
    height: auto;
} 
/********************************************************************** fin de nuestros productos *****************************************************/

/*********************************************************************Productos mas vendidos ********************************************************************/
.service-box {
  background: #fff;
  border: 3px solid black;
  padding: 40px 20px;
  box-shadow: 10px 10px 5px #888888;
}
.service-box:hover {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  margin-top: -20px;
}
.service-icon {
  margin-bottom: 20px;
} 
.service-desc h5 {
  text-transform: uppercase;
  font-weight: 700;
  color: #666;
  font-size: 18px;
  margin-bottom: 10px;
}
.service-desc .divider-header {
  margin-bottom: 30px;
}

.btn-skin{
  color: #fff;
  background-color: white;
}
.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #328724;
  border-color: #666;
}



/********************************************************************** inicio contactanos ***********************************************************/
textarea{
  resize:none;
}
.form-group {
  margin-bottom: 20px;
}
form#contact-form .form-group label {
  text-align: left !important;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
}
form#contact-form input,form#contact-form select,form#contact-form textarea {
  font-size: 14px;
  line-height: 1.6em;
  border: 1px solid #eee;
  -webkit-box-shadow: none;
          box-shadow:  none;
  border-radius: 2px;
}
form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}


/* --- boton --- */
.btn {
  border-radius: 2px;
  position: relative;
  display: inline-block;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400; 
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 14px;
}

/*productos*/
.m{
  padding-top: 10px;
}
.h
{
  width: 100px;
}


.Gbotonmas
{
  color: white;
 background: #880200;
  margin-top: 10px;
  padding-top: 10px;
}



/* lo mas vendido*/
.Gmasvendido{
  
  padding-top: 100px;
}
#Gtitulomasvendido{
  text-align: center;
  font-size: 40px;
  color: white;
}

.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
.Gmas{
  color: black;
  background: black;
}
/* boton de siguiente */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 80px
}
/* Botono de siguiente  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 80px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 200px;
}
/* End carousel */


/**/
.animate {
    -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.a
{

  text-align: left;
}


/* Formulario terminos y condiciones*/

.Gterminoscondiciones{
  color: white;
  background: #424242;
}

.imagenmargenT{
    padding-top: 30px;
}

#Gterminos
{
    color: white; 
    padding-bottom: 20px;
    text-align: center;
    padding-top: 80px;
    font-size: 50px;
}
.Gparrafoterminos{
    font-size: 20px;
    text-align: justify;
    color:white;
}

.Gtitulosterminos
{
    color: white;
    font-size: 20px;
}
.Gcontenidoterminos{
   background: #4A4A4A;
  font-size: 1px;
  text-align: justify;
}

/*color de seleccion*/
.nav.nav-justified > li.active > a > .quote{
 opacity: 1; 
}
/*efecto de seleccion*/
.nav.nav-justified > li > a > img { 
    max-width: 100%; 
    opacity: .3; 
}
/*efecto de seleccionado*/
.nav.nav-justified > li.active > a > img,
.nav.nav-justified > li:hover > a > img,
.nav.nav-justified > li:focus > a > img { 
    opacity: 1; 
    -webkit-transform: none;
            transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/*margen de lineas de color*/
.tab-pane .tab-inner {
 padding: 30px 0 20px; 
}

/*fin formulario terminos y condiciones*/

/*imagen de usuario*/

/*ajuste de hover a la imagen*/
.profile .img-box{
  opacity: 1;
  display: block;
  position: relative;
}
/*efecto hover*/
.profile .img-box:after{
  content:"";
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);/*color de hover*/
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
/*boton de imagen(pocicion)*/
.img-box ul{
  position: absolute;
  z-index: 2;
  left: 0px;
  bottom: 50px;
  text-align:center; ;
  width: 100%;
  padding-left: 0px;
  height: 0px;
  margin: 0px;
  opacity: 0;
}
/*tiempo de efecto*/
.profile .img-box:after, .img-box ul{
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
/*efecto de opacidad*/
.img-box:hover:after{
  opacity: 1;
}
/*efeto de boton*/
.img-box:hover ul{
  opacity: 1;
}
/*Transicion en diferentes navegadores*/
.img-box ul a{
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
/*color de boton*/
.Geditabtn{
  color: white;
  background: #880200;
}
/*termina imagen*/

/*Datos de usuario*/
/*titulo*/
#Geditartitulo{
  font-size: 30px;
  font-family: arial;
  text-align: center;
}
/*margen entre inpuuts*/
.Geditarinputs{
  padding-top: 8px;
  padding-bottom: 1px;
}

/*boton de actulizar datos*/
.Geditarestilo{
  width: 200px;
  margin-top: 30px;
  background: #880200;
  border-radius: 0px;
}
/*margen entre titulos de inputs*/
.Geditartitulos
{
  margin-top: 15px;
}

/*chexbox genero*/
/*Esstilo del circulo*/
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked,
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
/*posicion entre el boton y la letra*/
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label,
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 25px;
  padding-top: 1px;
  cursor: pointer;/*tipo de cursor*/
}
/* Contorno de radio y estilo de radio buton */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  position: absolute;/*boton*/
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 0px solid #aaa;
  background: #f0f0f0;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
/* Posicion de chexbox */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  position: absolute;
  color: #555555;
  transition: all .2s;
}
/* No dejar seelecionar las dos opciones*/
[type="checkbox"]:not(:checked) + label:after,
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
/*circunfencia del checkbox*/
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  border-radius: 35px;
}
/*aspecto de seleccionado*/
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '\2022';
  top: 0;
  left: 3px;
  font-size: 30px;
  line-height: 25px;
}

/*boton*/
.ladda-button{position:relative}.ladda-button .ladda-spinner{
  position:absolute;
  z-index:2;
  display:inline-block;
  width:32px;
  height:32px;
  top:50%
  ;margin-top:-16px;
  opacity:0;
  pointer-events:none
}

/*datapicker de fecha de nacimiento*/
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/
}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

/*login 2 */
.login2
{
  padding-top: 60px;
}

.thumbnail {  
    border-radius: px ;
    background: -;.


    padding:0px;
}
.panel {
  position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
  position:absolute;
  top:11px;left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}
.panel>.panel-heading:after{
  border-width:7px;
  border-right-color:#f7f7f7;
  margin-top:1px;
  margin-left:2px;
}
.panel>.panel-heading:before{
  border-right-color:#ddd;
  border-width:8px;
}

/*reportes*/

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}
.margenR{
  margin-top: 70px;
}
#Reportescontenido
{
  color: black;
  font-size: 10px;
}
.botonR{

  width: 100px;
}
/*modal reportes*/
.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-warning {
  color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-danger {
  color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-primary {
  color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.aa{
  background: black;
}

/*esto-*/
/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: -110px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.TitulosR{
  color: black;
}
.subtitulosR{
  color: black;
}



.temas{
  color: black;
}



.o
{
  background: blue;
}

.color{
  font-size: 20px;
  color: white;
}
.subtemas{
  text-align: justify;
  color: white;
  font-size: 15px;
}
/************************************************* GERARDO FRONT-END ******************************/ 

/************************************************* lAURA - Recuperar -  FRONT-END ******************************/  

  body {
   /* padding-top: 120px;*/
    padding-bottom: 40px;
    background-color: #eee;
  
  }
  .btn 
  {
   outline:0;
   border:none;
   border-top:none;
   border-bottom:none;
   border-left:none;
   border-right:none;
   box-shadow:inset 2px -3px rgba(0,0,0,0.15);
  }
  .btn:focus
  {
   outline:0;
   -webkit-outline:0;
   -moz-outline:0;
  }
  .fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../img/login.jpg');
    background-repeat:repeat;
  }
  .form-signin {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    margin-top:150px;
  }
  .form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
  }
  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: #000;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(0,0,0);
    border-top:1px solid rgba(0,0,0,0.08);
  }
  .form-signin-heading {
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
  }

  .colorW{
    color: white;
    text-align: center;
  }

.vismi {
    padding:20px;
    border: 5px solid white;
    position:relative;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(202, 34, 34, 0.7);
}

.valores {
    padding:20px;
    border: 5px solid white;
    position:relative;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(54, 104, 32, 0.7);
}

/************************************************* lAURA - Datos -FRONT-END ******************************/  